// @import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sticky {
  padding: 10px;
  background-color: #292a36;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sticky a{
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.sticky a:hover{
  color: #828d9e;
}


.header {
  overflow: hidden;
  background-color: #1f2029;
  padding: 0px 0px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 28px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header a.logo {
  font-size: 25px;
  font-weight: 700;
}

.header .logo a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.header a:hover {
  background-color: #262833;
  color: rgb(197, 197, 197);
}

.header a.active {
  background-color: #262833;
  color: rgb(255, 255, 255);
}

.header-right {
  float: right;
}

svg {
  margin-bottom: -2px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
